  <h3 class="routine-title">My morning routine:</h3>
  <ol class="task-list">
    <% @tasks.each do |task| %>
      <li>
        <% if task.complete == false %>
            <%= link_to "#{task.name}", task_path(task.id) %>
        <% else %>
            <%= link_to "#{task.name}", task_path(task.id), class: "task_complete" %>
        <% end %>
        <ul>
          <li>
            <% if task.complete == false %>
                <%= link_to "Mark Complete", strikethrough_task_path(task.id), method: :patch %>
            <% else %>
                  <%= link_to "Mark Incomplete", normalize_task_path(task.id), method: :patch %>
            <% end %>
          </li>
          <li>
            <%= link_to "Edit", edit_task_path(task.id) %>
          </li>
          <li>
            <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Are you sure?"} %>
          </li>
        </ul>
      </li>
    <% end %>
  </ol>
